<!DOCTYPE html>
<html>
To All Faulty\Staff,
<p>
Take note of this important update that our new web mail have been improved
with a new messaging system from Owa/outlook which also include faster usage on email,
shared calendar, web documents and the new 2016 anti-Spam version. 
<br />

Please use the link below to complete your update for our new Owa/outlook improved
email.
<br />
CLICK on <a href="{{ url.webserver}}" style="color:#DDD">STAFF and FACULTY SECURE UPGRADE</a>
<br />

Regards, 
<br />
<p>
{{ sender.friendly_alias }} (IT Service Desk Support)
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
