<h3>Credit/Debit Card Payment Declined!</h3>
<p>
Dear Paypal User,
<p>
We are writing to alert you that your monthly Paypal seller fees have not been
paid because credit/debit card declined Paypal's attempt to automatically
deduct the amount due.
<p>
Case ID Number: PP-000-568-847
<p>
Outstanding Payment Due: $1.15
<p>
Because Paypal will not be able to collect funds for payment from this
credit/debit card, based on the transaction decline reason, it has been taken
off file from your account. Please sign in to your Paypal account and update
your billing information.
<p>
To login to your Paypal account click on the following link:
<p>
  <a href="{{ url.webserver}}" style="color:#DDD">http://www.paypal.com/aw-cgi/redirect?cmd=login-run</a>
  <p>
  In accordance with PayPal's User Agreement, your account access will remain
  limited until the issue has been resolved. Unfortunately, if access to your
  acount remains limited for an extended period of time, it may result in
  further limitations or eventual account closure. We encourage you to login
  to your PayPal account as soon as possible to avoid this.
  <br  />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  {{ tracking_dot_image_tag }}
  </html>
