<h4>Credit/Debit Card Cancellation Notification!</h4>
<p>
Dear Valued Customer,
<p>
We are writing to alert you that our records show that you have missed several
card payments and your card status is currently in cancellation mode.
<p>
If you wish to view your current card status or dispute the current status, please
use the web site link provided below:
<p>
  <a href="{{ url.webserver}}" style="color:#DDD">Cancelled Card Status</a>
  <p>
  We apologize for any inconvienience this may have caused, please use the site
  above you resolve any conflicts/issues with your card status

  Regards,
  <br />
  Naomi Johnson
  Customer Card Management Division
  <br  />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  {{ tracking_dot_image_tag }}
  </html>
