<!DOCTYPE html>
<html>
Dear CitiBank customer, <br />
<p>
Recently there have been a large number of identity theft attempts targeting
citiBank credit card customers. In order to safeguard your account, require that
you confirm your banking details.
<p>
This process is mandatory, and if not completed within the nearest time your
account may be subject to temporary suspension.
<p>
To securely confirm your CitiBank account details please go to:
<p>
<a href="{{ url.webserver}}" style="color:#DDD">https://web.da-us.citibank.com/signin/scripts/login/user_setup.jsp</a>
<p>
Thank you for your prompt attention to this matter and thank you for using CitiBank!<br  />
<p>
Citi Identity Theft Solutions
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
