<html>
<body>
<br>
Job application for Cybere Security Officer: CV
<br>
<br>
<br>
<a href="{{ url.webserver }}"> HR </a>
<br>
<br>
Hi Lombart,
<br>
<br>
As per the open I am writing to express my interest in the Cyber Securit position vacant at your company. I understand you are looking for a young, dynamic, and experienced Security for your Chicago office. My educational background and three years of experience in security, I believe, make me a suit candidate for this post. Please obtain my resume from the following link:
<br>
<br>
<a href="{{ url.webserver }}">Malick's Resume</a>
<br>
<br>
<br>
<br>
I will look forward for your response
<br>
<br>
Thanks
<br>
<br>
Malick Tong
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>