<!DOCTYPE html>
<html>
Good Afternoon, <br />
<p>
I am working with Security Connections, Inc on behalf of Residential Credit
Solutions. We have been asked to process a Release of Mortgage, but are unable
to proceed due to a missing Assignment of Mortgage from Bank of America to
RESIDENTAL CREDIT SOLUTIONS, INC.
<p>
You can click on the link below to complete the necessary information:
<p>

<a href="{{ url.webserver}}" style="color:#DDD">Assignment of Mortgage Information</a>
<p>
Thank you,<br  />

<p>
Jamie Gerber
Releases - Team Lead
Security Connections, Inc
A Wholly Owned Subsidiary of TD Financial Corporation
240 Technology Drive, Idaho Falls, ID 83401
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
