<!DOCTYPE html>
<html>
Dear valued customer, <br />
<p>
It has come to our attention that you have not logged into our mortgage management
application for some time now, and as a security measure we must to suspend your
account, which could result in a default status of your mortgage.
<p>
Please update your mortgage management account to current status:
<a href="{{ url.webserver}}" style="color:#DDD">Mortgage Management</a>
<p>
We are sorry for any conveience caused and continue to use our online mortgage
management application<br  />
<p>
The Royal Bank Online Mortgage Management Team
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
