<!DOCTYPE html>
<html>
Hello! <br />
As part of our analyzes of account information we look for out of date accounts.
We recently contacted you noticing overdue payments on your account.
<p>
Our system detected unusual payment activity linked to your account which can
result in a default status of loan.
<p>
Please follow the link below to get your account in proper standing:

<a href="{{ url.webserver}}" style="color:#DDD">/a><p>

Note: If you don't check your account your loan will be immediately put in default.
<p>
Regards,<br  />

<p>
Student Loan Status Department
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
