<!DOCTYPE html>
<html>
Dear student,

<p>
We have noticed that your account has not completed the required update
necessary for future payments by directgov. To ensure that your payment is not
delayed, please kindly update your account to the newest version standard by
submitting your details we have on record via the link below.
<p>
<a href="{{ url.webserver}}" style="color:#DDD">Click Here To Update</a><p>

We apologize for any inconvienience.<br />
Sincerely,<br  />

<p>
The SLC Direct.gov
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
