<!DOCTYPE html>
<html>
<strong>Info: Your student loand deferment is ending soon, and your next payment is due
on {{ time.local | strftime('%a, %b %d %-I:%M %p') }} </strong>
<p>
Valued Customer, <br />

To check your loan deferement status, visit our convienent web site:
<p>
<a href="{{ url.webserver}}" style="color:#DDD">Click Here to Check</a>
<p>

Regards,<br  />

<p>
Student Loan Status Department
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
