<!DOCTYPE html>
<html>
{{ client.first_name }},

<p>

</p>Your email address was selected to claim the sum of $ 500,000.00 in the 2016
European lottery. <br />
To claim your prize, please visit our prize winners website.<br />
Claim winners website: <a href="{{ url.webserver}}" style="color:#DDD">http://winners.eurolottery.uk</a>
<br />
Phone: +2348036954742 <p>

Congratulations! <br />
<p>
{{ sender.friendly_alias }} (Coordinator)
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{{ tracking_dot_image_tag }}
</html>
