<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Replace with Message Subject or Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    /* Jinja variable substitutions */
    {% set target_name = TARGET_NAME %}
    {% set target_address = ENTER_TARGET_ADDRESS %}
    {% set target_website_url = ENTER_TARGET_WEBSITE %}
    /* end Jinha variable substitutions */
  <style type="text/css">
    /* email client bugfixes */
   .ExternalClass {width:100%;}
   .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
   body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
   body {margin:0; padding:0;}
   table td {border-collapse:collapse;}
   /* end email client bugfixes */
   /* reset defaults, overwrite styling inline */
   p {margin:0; padding:0; margin-bottom:0;}
   h1, h2, h3, h4, h5, h6 {color: black !important; line-height: 100%;}
   a, a:link {color: #2A5DB0; text-decoration: underline;}
   /* end reset defaults */
   /* optmize for mobile devices */
   /* phones */
   @media only screen and (max-device-width: 480px) {
     body[yahoo] #container1 {display:block !important}
     body[yahoo] p {font-size: 10px}
    }
    /* tablets */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
      body[yahoo] #container1 {display:block !important}
      body[yahoo] p {font-size: 12px}
    }
   /* end optmize for mobile devices */
   img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
     a img {border:none;}
     .image_fix {display:block;}
  </style>
</head>
<body style="background:#fff; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px" alink="#0B0080" link="#0B0080" bgcolor="#ffffff" text="#000000" yahoo="fix">
  <div id="body_style" style="padding:15px">
    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" width="600" align="center">
      <tr>
        <td width="200">Content Goes Here 1</td>
        <td width="200">Content Goes Here 2</td>
        <td width="200">Content Goes Here 3</td>
      </tr>
    </table>
  <!-- formatted paragraph example-->
   <p style="margin-top:0"></p>
   <!-- text link example -->
   <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="Replace Title Here">Text Link Example</a>
   <!-- floating embedded image example -->
   <img src="http://www.nnbcas.org/wp-content/uploads/2013/01/bank-of-america-logo1.gif" alt="Image Info Here" title="Image Info Here" width="304" height="164" style="display:block"  border="0"/>
     <table cellpadding="2" cellspacing="2" border="0">
      <tr>
        <td valign="top">•</td>
        <td>Test Content</td>
      </tr>
      <tr>
        <td valign="top">1.)</td>
        <td>Test Content</td>
      </tr>
    </table>
    <!-- table background image example -->
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td valign="top" background="http://www.nnbcas.org/wp-content/uploads/2013/01/bank-of-america-logo1.gif" bgcolor="#006600"> </td>
      </tr>
    </table>
    <table width="150" cellspacing="3" cellpadding="0" border="0">
      <tr>
        <td width="150" height="35" align="center" background="URL to background image file here" style="background-repeat:repeat-x; background-position:top left; background-color:#3c96e2; border:1px solid #666666; color:#FFFFFF; font-weight:bold; white-space:nowrap; height:35px;">
          <a href="{{ url.webserver}}" target="_blank" style="color:#FFFFFF; cursor:pointer; font-size:13px; text-align:center; text-decoration:none; vertical-align:baseline; font-weight:bold;">
            <span style="padding:10px 10px; color:#FFF">Apply Now ››</span>
          </a>
        </td>
      </tr>
    </table>
 </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{ tracking_dot_image_tag }}
</body>
</html>
