<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BoA Credit Card Fraud Alert!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    /* email client bugfixes */
   .ExternalClass {width:100%;}
   .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
   body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
   body {margin:0; padding:0;}
   table td {border-collapse:collapse;}
   /* end email client bugfixes */
   /* reset defaults, overwrite styling inline */
   p {margin:0; padding:0; margin-bottom:0;}
   h1, h2, h3, h4, h5, h6 {color: black !important; line-height: 100%;}
   a, a:link {color: #2A5DB0; text-decoration: underline;}
   /* end reset defaults */
   /* optmize for mobile devices */
   /* phones */
   @media only screen and (max-device-width: 480px) {
     body[yahoo] #container1 {display:block !important}
     body[yahoo] p {font-size: 10px}
    }
    /* tablets */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
      body[yahoo] #container1 {display:block !important}
      body[yahoo] p {font-size: 12px}
    }
   /* end optmize for mobile devices */
   img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
     a img {border:none;}
     .image_fix {display:block;}
  </style>
</head>
<body style="background:#fff; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px" alink="#0B0080" link="#0B0080" bgcolor="#ffffff" text="#000000" yahoo="fix">
  <div id="body_style" style="padding:15px">
    <img src="https://www1.bac-assets.com/content/images/ContextualSiteGraphics/Logos/en_US/boa_logo.gif" alt="Bank of America" title="BoA Logo" width="221" height="28" style="display:block"  border="0"/>
    <!-- formatted paragraph example-->
   <p style="margin-top:0"></p>
   <!-- floating embedded image example -->
   <br />
   <br />
   Valued Customer,
   <br />
   <br />
   Our identify theft department has spotted potentially fraudulent activity on your bank<br  />
   credit card account. In order to protect you, we have temporarily suspended<br />
   your account.  We'll cancel your card and issue a replacement immediately.<br />
   <br />
   If you believe this security measure was taken in error, please<br />
   follow the steps below:<br />
   <br />
     <table cellpadding="2" cellspacing="2" border="0">
      <tr>
        <td valign="top">1.</td>
        <td>Contact Bank of America <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="BoA ID Theft Site"> ID Theft Site</a> immediately in order<br />
          to report any fraudulent activity you’ve seen and to close any accounts<br />
          that have been tampered with or fraudulently established.</td>
      </tr>
      <tr>
        <td valign="top">2.</td>
        <td>Contact the 3 major credit bureaus listed below to place a fraud<br/>
          alert on your credit file. You also can order a credit report to<br/>
          identify any unauthorized activity.</td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td>•  <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="Equifax">Equifax</a> 1.800.525.6285</td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td>•  <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="Experian">Experian</a> 1.888.397.3742</td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td>•  <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="Trans Union">Trans Union</a> 1.800.680.7289</td>
      </tr>
      <tr>
        <td valign="top">3.</td>
        <td>Close other accounts that you know or believe have been tampered<br/>
          with or fraudulently opened. Use the <a href="http://www.ftc.gov/bcp/edu/resources/forms/affidavit.pdf" target ="_blank" title="ID Theft Affidavit">ID Theft Affidavit</A> <br/>
          (PDF, requires <a href="http://get.adobe.com/reader/" target="_blank" title="Install Adobe Reader">Adobe Reader</a> for PDF) when disputing<br/>
          unauthorized accounts.</td>
      </tr>
      <tr>
        <td valign="top">4.</td>
        <td>File a police report. Get a copy of the report to submit to your<br/>
          creditors and others that may require proof of the crime.</td>
      </tr>
      <tr>
        <td valign="top">5.</td>
        <td>File a complaint with the <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="Federal Trade Commission">Federal Trade Commission</a> (FTC).<br/>
          The FTC maintains a database of identity theft cases used by law<br/>
          enforcement agencies for investigations.</td>
      </tr>
    </table>
    <br />
    <br />
    <table cellpadding="2" cellspacing="2" border="0">
     <tr>
       <td valign="top">Bank of America, N.A.</td>
       <td>Member FDIC. Equal Housing Lender</td>
       <td><img src="https://www1.bac-assets.com/content/images/ContextualSiteGraphics/Logos/en_US/icon_equal_housing_lender.gif" alt="" width="14" height="9" /> </a></td>
     </tr>
   </table>
   <p>
     &nbsp; &copy; 2016 Bank of America Corporation.
   </p>
 </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{ tracking_dot_image_tag }}
</body>
</html>
