<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Student Loan Late Payment!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    /* email client bugfixes */
   .ExternalClass {width:100%;}
   .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
   body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
   body {margin:0; padding:0;}
   table td {border-collapse:collapse;}
   /* end email client bugfixes */
   /* reset defaults, overwrite styling inline */
   p {margin:0; padding:0; margin-bottom:0;}
   h1, h2, h3, h4, h5, h6 {color: black !important; line-height: 100%;}
   a, a:link {color: #2A5DB0; text-decoration: underline;}
   /* end reset defaults */
   /* optmize for mobile devices */
   /* phones */
   @media only screen and (max-device-width: 480px) {
     body[yahoo] #container1 {display:block !important}
     body[yahoo] p {font-size: 10px}
    }
    /* tablets */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
      body[yahoo] #container1 {display:block !important}
      body[yahoo] p {font-size: 12px}
    }
   /* end optmize for mobile devices */
   img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
     a img {border:none;}
     .image_fix {display:block;}
  </style>
</head>
<body style="background:#fff; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px" alink="#0B0080" link="#0B0080" bgcolor="#ffffff" text="#000000" yahoo="fix">
  <div id="body_style" style="padding:15px">
    <img src="https://www01.wellsfargomedia.com/assets/images/global/wf-logo.gif" alt="Wells Fargo Logo" title="Wells Fargo Logo" style="display:block"  border="0"/>
    <!-- formatted paragraph example-->
   <p style="margin-top:0"></p>
   <!-- floating embedded image example -->
   <br />
   <br />
   Dear Valued Customer,
   <br />
   <br />
   Our current records show that you have recently missed a payment regarding your<br  />
   student loan account. Please login and make a payment immediately to keep your<br />
   account in good standing.<br />
   <br />
   If you believe this is an error, please visit our loan payment application below:<br />
   <br />
   <table width="125" cellspacing="3" cellpadding="0" border="0">
     <tr>
      <td width="125" height="25" align="center" background="" style="background-repeat:repeat-x; background-position:top left; background-color:#e23c43; border:1px solid #666666; color:#FFFFFF; font-weight:bold; white-space:nowrap; height:25px;">
        <a href="{{ url.webserver}}" target="_blank" style="color:#FFFFFF; cursor:pointer; font-size:13px; text-align:center; text-decoration:none; vertical-align:baseline; font-weight:bold;"> <span style="padding:10px 10px; color:#FFF">Payment Login ››</span></a>
       </td>
     </tr>
   </table>
    <br />
    <table>
      <tr>
        <td valign="top">Or call our toll-free number: 1-877-315-7721</td>
      </tr>
    </table>
    <br />
    <table cellpadding="2" cellspacing="2" border="0">
     <tr>
       <td valign="top">Wells Fargo Bank, N.A.</td>
       <td>Member FDIC.</td>
     </tr>
   </table>
   <p>
     &nbsp; &copy; 1999-2016 Wells Fargo. All rights reserved. NMLSR ID 399801
   </p>
 </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{ tracking_dot_image_tag }}
</body>
</html>
